@model AmazingDeliveries.Models.Customer

@{
    ViewBag.Title = "CustomerDetails";
}

<div>
    <h4 class="text-center">Please enter your details</h4>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(false)
                <div class="form-group">
                    <label>Name:</label>
                    @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.Name)
                </div>
                <div class="form-group">
                    <label>Surname:</label>
                    @Html.TextBoxFor(c => c.Surname, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.Surname)
                </div>
                <div class="form-group">
                    <label>Phone:</label>
                    @Html.TextBoxFor(c => c.Phone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.Phone)
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    @Html.TextBoxFor(c => c.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.Email)
                </div>
                @Html.HiddenFor(c => c.CustomerID)
                <button type="submit" class="btn btn-primary">Submit and continue</button>
            }
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

